.discord-preview {
  background-color: #36393f;
  color: #fff;

  &.light {
    background-color: #fff;
  }

  .message-group {
    display: flex;
    padding: 20px 0;
    margin-left: 20px;
    margin-right: 6px;
    box-sizing: border-box;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    .avatar {
      background-image: url("https://cdn.discordapp.com/avatars/304910878841634817/7ff56158e6204ca582851241a705caa1.png?size=128");

      flex-shrink: 0;
      margin-top: -2px;
      margin-right: 20px;

      cursor: pointer;
      opacity: 1;
      transition: opacity .2s ease;

      width: 40px;
      height: 40px;
      background-size: 40px 40px;

      background-clip: padding-box;
      position: relative;
      background-position: 50%;
      border-radius: 50%;

      &:hover {
        opacity: .8;
      }
    }

    .comment {
      h2 {
        margin: 0;
        padding: 0;
        line-height: 16px;

        .username {
          color: #fff;
          cursor: pointer;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0;
        }

        .timestamp {
          color: hsla(0,0%,100%,.2);
          font-size: 12px;
          letter-spacing: 0;
          font-weight: 500;
          text-transform: none;
          margin-left: 6px;
        }
      }

      .markup {
        color: #dcddde;
        font-size: 0.9375rem;
        line-height: 1.3;
        user-select: text;
        word-wrap: break-word;
        margin-top: 6px;

        .emoji-small {
          object-fit: contain;
          max-width: 100%;
          border-style: none;

          height: 1.45em;
          margin-left: .05em;
          margin-right: .1em;
          object-fit: contain;
          vertical-align: -.4em;
          width: 1.45em;
        }

        .emoji-big {
          object-fit: contain;
          max-width: 100%;
          border-style: none;

          height: 2rem;
          margin-bottom: 0;
          margin-top: .2em;
          vertical-align: -.3em;
          width: 2rem;
        }
      }

      .reactions {
        align-items: center;
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        margin-left: -2px;
        margin-top: 6px;

        .reaction {
          opacity: 1;
          cursor: pointer;
          transform: scale(1);
          background: hsla(0,0%,100%,.04);

          border-radius: 3px;
          box-sizing: border-box;
          cursor: pointer;
          flex-shrink: 0;
          margin: 2px;
          transition: background-color .1s ease;
          user-select: none;

          .reactionInner {
            align-items: center;
            display: flex;
            padding: 0 6px;

            .emoji-react {
              object-fit: contain;
              max-width: 100%;
              border-style: none;

              height: 1rem;
              margin: 3px 0!important;
              min-height: auto;
              min-width: auto;
              width: 1rem;
              vertical-align: -.4em;
            }

            .reactionCount {
              min-width: 9px;
              color: hsla(0,0%,100%,.3);
              color: hsla(0,0%,100%,.3);
              font-size: 0.875rem;
              font-weight: 500;
              letter-spacing: 0.00813rem;
              margin-left: 6px;
              text-align: center;
            }
          }

          &.me {
            background: rgba(92,106,158,.3);

            .reactionInner {
              .reactionCount {
                color: #7289da;
              }
            }
          }
        }
      }
    }
  }
}
