@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/whitney-book-webfont.eot');
  src: local('Whitney'), local('Whitney Book'),
       url('fonts/whitney-book-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/whitney-book-webfont.woff') format('woff'),
       url('fonts/whitney-book-webfont.ttf') format('truetype'),
       url('fonts/whitney-book-webfont.svg#technoidone') format('svg');
}

@font-face {
  font-family: 'Whitney';
  font-style: bold;
  font-weight: 900;
  src: url('fonts/whitney-bold-webfont.eot');
  src: local('Whitney Bold'),
       url('fonts/whitney-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/whitney-bold-webfont.woff') format('woff'),
       url('fonts/whitney-bold-webfont.ttf') format('truetype'),
       url('fonts/whitney-bold-webfont.svg#technoidone') format('svg');
}

body {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

p.login {
  margin-bottom: 15px;
}

.modal-card-body {
  max-height: calc(100vh - 185px);

  .form-preview {
    display: none;
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;

  .box {
    margin: 10px;
    width: calc(100% / 3 - 20px);

    .details {
      align-items: center;
      display: flex;
      padding: 15px 5px;

      .name-author {
        flex-grow: 1;
      }

      .field {
        display: inline-flex;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .boxes {
    .box {
      width: calc(100% / 2 - 20px);
    }
  }
}


@media screen and (max-width: 700px) {
  .boxes {
    .box {
      width: 100%;
    }
  }
}
