
<div class="box">
  <article data-emote="{{ @emote.name }}">
    <include href="preview.htm" />

    <div class="details">
      <span class="name-author">
<check if="{{ isset(@GET.coucou) }}">
        ({{ @emote.count }})
</check>
        <code>{{ @emote.name }}</code>
        par <em>{{ @emote.submitterName }}</em>
      </span>
      <span class="field has-addons">
        <p class="control">
          <button
<check if="{{ @emote.vote == 1 }}">
<true>class="button is-success"</true>
<false>class="button is-success is-outlined"</false>
</check>
          data-emote="{{ @emote.name }}" data-vote="1">
            <span class="icon is-large">
              <i class="fa fa-thumbs-up"></i>
            </span>
          </button>
        </p>
        <p class="control">
          <button
<check if="{{ @emote.vote == -1 }}">
<true>class="button is-danger"</true>
<false>class="button is-danger is-outlined"</false>
</check>
          data-emote="{{ @emote.name }}" data-vote="-1">
            <span class="icon is-large">
              <i class="fa fa-thumbs-down"></i>
            </span>
          </button>
        </p>
      </span>
    </div>
  </article>
</div>
