<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <form action="/submit" method="post" enctype="multipart/form-data">
      <header class="modal-card-head">
        <p class="modal-card-title">Soumettre un emote</p>
        <button type="button" class="delete close-modal" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Nom de l'emote</label>
          <p class="control">
            <input
              class="input"
              placeholder="Ne pas mettre les deux points"
              type="text" name="name" id="name"
              autocomplete="off" maxlength="32">
          </p>
          <p class="help">Sans espaces, sans les deux points.</p>
        </div>

        <div class="file has-name is-fullwidth">
          <label class="file-label">
            <input class="file-input" type="file" name="emote">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                Ouvrir...
              </span>
            </span>
            <span class="file-name">
              ...
            </span>
          </label>
        </div>
        <p class="help">Doit être un PNG et pas plus grand que 256kb.</p>

        <br>

        <div class="form-preview">
          <include href="preview.htm" with="emote={{ @default_emote }}" />
        </div>
      </section>
      <footer class="modal-card-foot">
        <button disabled type="submit" class="button is-success">Envoyer</button>
        <button type="button" class="button close-modal">Fermer</button>
      </footer>
    </form>
  </div>
</div>



