<div class="discord-preview">
  <div class="message-group">
    <div class="avatar"></div>
    <div class="comment">
      <h2>
        <strong class="username">Nyx</strong>
        <span class="timestamp">Un jour à 13:37</span>
      </h2>
      <div class="markup">
        Aperçu : <img draggable="false" class="emoji-small" title="{{ @emote.name }}" src="/emotes/{{ @emote.name }}.png">
      </div>
      <div class="markup">
        <img draggable="false" class="emoji-big" title="{{ @emote.name }}" src="/emotes/{{ @emote.name }}.png">
      </div>
      <div class="reactions">
        <div class="reactions">
          <div class="reaction">
            <div class="reactionInner" role="button">
              <img src="/emotes/{{ @emote.name }}.png" draggable="false" class="emoji-react">
              <div class="reactionCount">1</div>
            </div>
          </div>
          <div class="reaction me">
            <div class="reactionInner" role="button">
              <img src="/emotes/{{ @emote.name }}.png" draggable="false" class="emoji-react">
              <div class="reactionCount">2</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
